<html>
    <head>
        <title>{{status_code}} - {{status_text}}</title>
        <link rel="stylesheet" href="status.css" type="text/css" media="screen">
    </head>
    <body>
        <div id="ox_logo" class="ox_logo"><img src="/images/oxWebServicesLogo.png" alt="oxLogo"/></div>
        <div id="status_info" class="status_info_container">
            <div class="info_field" id="status_code">
                <div id="status_code_label" class="info_field_label">Code:</div>
                <div id="status_text_value" class="info_field_value">{{status_code}}</div>
            <div class="status_field" id="status_text">
                <div id="status_text_label" class="info_field_label">Text:</div>
                <div id="status_text_value" class="info_field_value">{{status_text}}</div>
            </div>
        </div>       
        <div id="debug_info" class="debug_info_container">
            <div id="debug_info_header">Debug Information:</div>
            <div id="debug_fields_container" class="debug_info_container">
                <div id="request_info_header" class="debug_header">Request Information:</div>
                <div class="debug_info_container" id="request_info_container">
                    <div id="request_info_method" class="debug_field">
                        <div id="request_info_method_label" class="debug_field_label">Method:</div>
                        <div id="request_info_method_value" class="debug_field_value">{{request_method}}</div>
                    </div>
                    <div id="request_info_path" class="debug_field">
                        <div id="request_info_path_label" class="debug_field_label">Path:</div>
                        <div id="request_info_path_value" class="debug_field_value">{{request_path}}</div>
                    </div>
                    <div id="request_info_headers" class="debug_field">
                        <div id="request_info_headers_label" class="debug_field_label">Headers:</div>
                        <div id="request_info_headers_value" class="debug_field_value">{{request_headers}}</div>
                    </div>
                    <div id="request_info_body" class="debug_field">
                        <div id="request_info_body_label" class="debug_field_label">Body:</div>
                        <div id="request_info_body_value" class="debug_field_value">{{request_body}}</div>
                    </div>
                    <div id="request_info_source_ip" class="debug_field">
                        <div id="request_info_source_ip_label" class="debug_field_label">Source IP:</div>
                        <div id="request_info_source_ip_value" class="debug_field_value">{{source_ip}}</div>
                    </div>
                </div>
                <div id="debug_info_header">Debug Information:</div>
                    <div id="module_info_header" class="debug_header">Modulde Information:</div>
                    <div class="debug_field" id="module_name">Module: {{module_name}}</div>
                    <div class="debug_field" id="module_context">Module Context: {{module_context}}</div>
                </div>
            </div>
        </div>
    </body>
</html>