log4rs_config: "/mnt/c/Users/justl/source/repos/oxIDIZER/ox_webservice/functional_tests/000003-CleanConfig/log4rs.yaml"
server:
  port: 3000
  bind_address: "0.0.0.0"
modules:
  - name: ox_content
    priority: 999
    phase: Content
    uris:
        - ".*"
    params:
      config_file: "/mnt/c/Users/justl/source/repos/oxIDIZER/configs/ox_content.yaml"
  - name: ox_webservice_errorhandler_jinja2
    priority: 999
    phase: ErrorHandling
    uris:
        - ".*"
    params:
      config_file: "/mnt/c/Users/justl/source/repos/oxIDIZER/configs/ox_webservice_errorhandler_jinja2.yaml"