log4rs_config: "/mnt/c/Users/justl/source/repos/oxIDIZER/configs/log4rs.yaml"
servers:
  - protocol: "http"
    port: 3000
    bind_address: "127.0.0.1"
    hosts:
      - name: "localhost"
      - name: "example-1.com"
  - protocol: "http"
    port: 3001
    bind_address: "127.0.0.1"
    hosts:
      - name: "example-2.com"
  - protocol: "https"
    port: 3002
    bind_address: "0.0.0.0"
    hosts:
      - name:  "localhost_ssl"
        tls_cert_path: "configs/certs/cert.pem"
        tls_key_path: "configs/certs/key.pem"
      - name:  "example-ssl-1.com"
        tls_cert_path: "configs/certs/cert1.pem"
        tls_key_path: "configs/certs/key1.pem"

urls:
  - url: "/extra_content_path/"
    module_id: "content_handler_1"
  - url: "/another_path/"
    module_id: "content_handler_1"
  - url: "/another_error/"
    module_id: "content_error_handler"
  # New URL entries demonstrating protocol and hostname matching
  - protocol: "http"
    hostname: "example-1.com"
    url: "/specific_http_path/"
    module_id: "content_handler_1"
  - protocol: "https"
    hostname: "example-ssl-1.com"
    url: "/specific_https_path/"
    module_id: "content_handler_1"

modules:
  - id: "content_error_handler"
    name: "ox_content"
    priority: 999
    phase: Content
    uris:
        - path: "/error/"
          protocol: "http"
          hostname: "example-1.com"
        - path: "/error/"
          protocol: "https"
          hostname: "example-ssl-1.com"
        - path: "/another_error/" # Existing entry, but now in UriMatcher format
    params:
      config_file: "/mnt/c/Users/justl/source/repos/oxIDIZER/configs/ox_content.yaml"
  - id: "content_handler_1"
    name: "ox_content"
    priority: 999
    phase: Content
    uris:
        - path: "/somepath/"
        - path: "/extra_content_path/" # Existing entry, but now in UriMatcher format
        - path: "/another_path/" # Existing entry, but now in UriMatcher format
        - path: "/specific_http_path/"
          protocol: "http"
          hostname: "example-1.com"
        - path: "/specific_https_path/"
          protocol: "https"
          hostname: "example-ssl-1.com"
    params:
      config_file: "/mnt/c/Users/justl/source/repos/oxIDIZER/configs/ox_content.yaml"
  - id: "default_content"
    name: "ox_content"
    priority: 999
    phase: Content
    uris:
        - path: ".*"
    params:
      config_file: "/mnt/c/Users/justl/source/repos/oxIDIZER/configs/ox_content.yaml"
  - id: "error_handler_main"
    name: "ox_webservice_errorhandler_jinja2"
    priority: 999
    phase: ErrorHandling
    uris:
        - path: ".*"
    params:
      config_file: "/mnt/c/Users/justl/source/repos/oxIDIZER/configs/ox_webservice_errorhandler_jinja2.yaml"